<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryMS.My.MySettings.test3ConnectionString" connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=BananaF1Sh;database=test3"
            providerName="MySql.Data.MySqlClient" />
        <add name="LibraryMS.My.MySettings.test3ConnectionString1" connectionString="server=localhost;user id=root;password=BananaF1Sh;persistsecurityinfo=True;database=test3"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>